<div class="about">
  <h3>Een museum over mensen</h3>
  <p>Museum Volkenkunde staat, als een van de oudste volkenkundige musea ter wereld, midden in de actualiteit. Een wandeling door het museum opent je blik op de wereld.</p>
    <p>Zo zijn er veel verschillende culturen waarbij tatoeages een belangrijke rol speelden: het diende als een brandmerk onder slaven en was het erg populair onder zeelieden. Tegenwoordig zijn tatoeages nog steeds erg populair als lichaamsversiering.
    </p>
    <img src="https://www.volkenkunde.nl/sites/default/files/styles/teaser_/public/volkenkunde%20geschiedenis_0.jpg?h=57bc7b4f&itok=zI-4HoBj" alt="Museum Volkenkunde">
</div>
