<div class="contact">
  <h3>Adres</h3>
  <address>
    Museum Volkenkunde
    <p>
    Steenstraat 1
    2312 BS Leiden
    </p>
  </address>
    <h3>Openingstijden</h3>
    <p>Het museum is van dinsdag t/m zondag open tussen 10.00 - 17.00 uur</p>
    <p> Gesloten op maandagen, 1 januari (nieuwjaarsdag), 27 april (Koningsdag), 3 oktober (Leids ontzet) en 25 december (1e kerstdag).</p>
    <h3>Entreeprijzen</h3>
    <p>Volwassene (vanaf 19 jaar) - €15,00 <br>
    Jeugd (4 t/m 18 jaar) - € 6,00 <br>
    Kinderen (t/m 3 jaar) - Gratis <br>
    CJP* - € 9,00 <br>
    Groepstarief (vanaf 10 volbetalende personen) - 10% korting <br>
    Studenten* - € 10,00 <br>
    Museumkaart* - Gratis <br>
    Bankgiro Loterij VIP-KAART* - Gratis <br>
    ICOM, Vereniging Rembrandt* - Gratis <br>
    Vrienden Tropenmuseum, Afrika Museum, Museum Volkenkunde* - Gratis <br>
    </p>
    <p> <i>* Korting of gratis entree alleen op vertoon van de desbetreffende kortingskaart. Deze kaart moet fysiek getoond worden. Digitale varianten worden niet geaccepteerd.</i></p>
    </div>
